<div class="jumbotron">
  <div class="container">
    <h1 class="text-center">{{weather.title}}</h1>
    <div class="row">
      <div class="col-md-2 offset-5 text-center">
        <img style="padding: 20px;" [src]="img_url" alt="weather">
      </div>
    </div>
    <div *ngIf="!more" class="row">
      <div class="col-md">
        <h5>the temperature</h5>
        <p>{{weather.consolidated_weather[0].the_temp}}</p>
      </div>
      <div class="col-md">
        <h5>the maximum temperature</h5>
        <p>{{weather.consolidated_weather[0].max_temp}}</p>
      </div>
      <div class="col-md">
        <h5>the minimum temperature</h5>
        <p>{{weather.consolidated_weather[0].min_temp}}</p>
      </div>
    </div>
    <div *ngIf="more">
      <div *ngFor="let data of weather.consolidated_weather">
        <h4 style="color: blueviolet">{{data.applicable_date}}</h4>
        <div class="row">
          <div class="col-md">
            <h5>the temperature</h5>
            <p>{{data.the_temp}}</p>
          </div>
          <div class="col-md">
            <h5>the maximum temperature</h5>
            <p>{{data.max_temp}}</p>
          </div>
          <div class="col-md">
            <h5>the minimum temperature</h5>
            <p>{{data.min_temp}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
